<div #tableList *ngIf="tableData.length > 0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Task">
      <th mat-header-cell *matHeaderCellDef> Task </th>
      <td mat-cell *matCellDef="let element"> {{element.workFlow | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        <div class="statusBtn"
          [ngClass]="{'lowRisk': element.status === 'low risk', 'uncomplete': element.status === 'uncomplete', 'needsReview':element.status === 'needs review'}">
          <span></span>
          {{element.status | titlecase}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="From">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.from | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="To">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{element.to | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="Customer Address">
      <th mat-header-cell *matHeaderCellDef> Customer Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="Due Date">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDate }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-paginator #paginator [pageSizeOptions]="pageSize"></mat-paginator>
</div>
<div class="locationWrapper noDatafound" *ngIf="tableData.length === 0"> No record found!</div>