/* color variables */

$primary-color: #000000;
$light-black-color: #060C1B;
$secondary-color: #ffffff;
$tertiary-color: #2188D9;
$active-color: #1773BB;
$danger-color: #FF3D00;
$danger-transparent-color: rgba(254, 5, 5, 0.025);
$success-color: #53D86A;
$success-transparent-color: #D7E5DA;
$slected-grid-color: #F1F5F8;
$light-gray-color: #ECECED;
$gray-color: #B8B9BC;
$alert-color: #eed709;
$shadow-color: rgba(0, 0, 0, 0.1);