/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import './assets/css/color-variable';
@import './assets/fonts/stylesheet.css';
@import './assets/css/media-queries';
*{
    box-sizing: border-box;
}
ul {
    list-style: none;
}

.mainCaption {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-size: 32px;
    margin: 36px 0 22px;
    @include for-landscape-mobile {
        margin: 20px 0;
    }
}
/* header */

.headerSection {
    background-color: $tertiary-color;
    padding: 4px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    @include for-tablet {
        padding: 0;
    }
    @include for-landscape-mobile {
        overflow: hidden;
    }
    .toggleBtn {
        justify-content: flex-end;
        padding-right: 15px;
        color: #fff;
        display: none;
        position: relative;
        @include for-tablet {
            display: flex;
        }
        @include for-tablet {
            &.hideMenu {
                .closeIcon {
                    display: none;
                }
            }
            &.showMenu {
                .menuIcon {
                    display: none;
                }
            }
        }
    }
    mat-toolbar {
        background-color: $tertiary-color;
        h2 {
            font-family: 'Roboto-Bold';
            font-style: normal;
            font-size: 32px;
            color: $secondary-color;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            @include for-landscape-Tab {
                font-size: 22px;
            }
        }
        .mainNavigation {
            flex: 1 1 auto;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
                @include for-tablet {
                    &.hideMenu {
                        display: none;
                    }
                    &.showMenu {
                        display: flex;
                        position: fixed;
                        top: 64px;
                        flex-flow: column;
                        background-color: $tertiary-color;
                        width: 100%;
                        right: 0;
                        height: calc(100vh - 64px);
                        overflow-y: scroll;
                        z-index: 999;
                        border-top: 1px solid $secondary-color;
                        justify-content: flex-start;
                        li {
                            width: 100%;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                        }
                    }
                }
                li {
                    padding: 20px 33px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    grid-gap: 10px;
                    font-family: 'Roboto-Medium';
                    font-size: 18px;
                    color: $secondary-color;
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    @include for-sm-desktop {
                        padding: 20px 15px;
                    }
                    @include for-landscape-Tab {
                        font-size: 14px;
                    }
                    &:hover,
                    &.active {
                        background-color: $active-color;
                    }
                }
            }
        }
        .signInWrapper {
            display: flex;
            align-items: center;
            grid-gap: 22px;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            span {
                cursor: pointer;
            }
        }
    }
}
/* content section */

.contentWrapper {
    padding: 72px 40px 20px;
    height: 100vh;
    overflow-y: auto;
    @include for-landscape-mobile {
        padding: 64px 15px 20px;
        grid-gap: 30px;
    }
}
/* input css */

.formControl {
    background: #FFFFFF;
    border: 1px solid #B8B9BC;
    border-radius: 4px;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 209px;
    position: relative;
    min-width: 150px;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    @include for-landscape-mobile {
        max-width: 48.5%;
    }
    &.searchField {
        max-width: 330px;
        padding: 13px 16px 13px 40px;
        @include for-landscape-mobile {
            max-width: 48.5%;
        }
        img {
            position: absolute;
            left: -30px;
            top: -4px;
        }
    }
    &.datePicker {
        padding: 10px 16px;
        &::ng-deep {
            .mat-form-field-suffix {
                button {
                    position: absolute;
                    font-size: 24px;
                    top: -24px;
                    right: -12px;
                }
            }
        }
    }
    &::ng-deep {
        .mat-form-field-wrapper {
            padding-bottom: 0;
            flex: 1 1 auto;
            .mat-form-field-underline {
                display: none;
            }
            .mat-form-field-infix {
                padding: 0;
                border: none;
                width: 100%;
                .mat-form-field-label-wrapper {
                    top: 0;
                    padding-top: 0;
                    .mat-form-field-label {
                        top: 0;
                    }
                }
            }
        }
    }
}
/* filter wrapper */

.filterWrapper {
    display: flex;
    @include for-min-desktop {
        align-items: flex-start;
    }
    @include for-landscape-mobile {
        flex-flow: column-reverse;
        grid-gap: 30px;
    }
    .selectFilter {
        flex: 1 1 auto;
        grid-gap: 40px;
        display: flex;
        padding-right: 40px;
        @include for-min-desktop {
            flex-wrap: wrap;
            grid-gap: 15px;
            padding-right: 20px;
        }
        @include for-landscape-mobile {
            padding-right: 0;
        }
    }
    .mapList {
        display: flex;
        align-items: center;
        grid-gap: 25px;
        font-family: 'Roboto-Medium';
        @include for-landscape-mobile {
            width: 100%;
            justify-content: flex-end;
        }
        mat-button-toggle {
            min-width: 80px;
            height: 44px;
            color: $light-black-color;
            font-family: 'Roboto-Regular';
            font-size: 16px;
            &.mat-button-toggle-checked {
                &::ng-deep {
                    button {
                        background-color: $tertiary-color;
                        color: $secondary-color;
                    }
                }
            }
        }
        .exportIcon {
            display: flex;
            align-items: center;
            grid-gap: 10px;
            cursor: pointer;
            font-family: 'Roboto-Medium';
            color: $tertiary-color;
            font-size: 16px;
        }
    }
}
/* map section */

.searchOutputWrapper {
    margin-top: 36px;
    display: flex;
    grid-gap: 40px;
    flex-flow: wrap;
    @include for-tablet {
        flex-direction: column-reverse;
    }
    .locationWrapper {
        grid-gap: 8px;
        display: flex;
        flex-direction: column;
        min-width: 450px;
        @include for-landscape-mobile{
            min-width: 100%; 
        }
        .workLocationWrapper {
            display: flex;
            border: 1px solid #B8B9BC;
            border-radius: 4px;
            padding: 15px;
            min-width: 450px;
            
            @include for-tablet {
                grid-gap: 15px;
            }
            @include for-landscape-mobile{
                min-width: 100%; 
                flex-direction: column;
            }
            .workLocationContant {
                flex: 1 1 auto;
                h3 {
                    font-style: normal;
                    font-size: 16px;
                    font-family: 'Roboto-Bold';
                    color: $light-black-color;
                    margin: 0;
                }
                p {
                    font-family: 'Roboto-Regular';
                    font-style: normal;
                    font-size: 14px;
                    color: $light-black-color;
                    margin-bottom: 0;
                    line-height: 24px;
                    span {
                        color: $gray-color;
                        margin-right: 10px;
                        ;
                    }
                }
            }
            .statusBtn {
                padding: 5px 15px;
                height: 30px;
                display: flex;
                align-items: center;
                width: fit-content;
                span {
                    height: 10px;
                    width: 10px;
                    border-radius: 5px;
                    margin-right: 6px;
                }
                &.uncomplete {
                    background-color: $danger-transparent-color;
                    color: $danger-color;
                    border: 1px solid $danger-color;
                    border-radius: 4px;
                    span {
                        background-color: $danger-color;
                    }
                }
                &.lowRisk {
                    background-color: $success-transparent-color;
                    color: $success-color;
                    border: 1px solid $success-color;
                    border-radius: 4px;
                    span {
                        background-color: $success-color;
                    }
                }
                &.needsReview {
                    background-color: $light-gray-color;
                    color: $gray-color;
                    border: 1px solid $gray-color;
                    border-radius: 4px;
                    span {
                        background-color: $gray-color;
                    }
                }
            }
        }
    }
    .mapWrapper {
        flex: 1 1 auto;
        iframe {
            width: 100%;
            height: 550px;
        }
    }
}